// Cards
.card {
  border-radius: 4px;
  background-color: white;

  &:not(.is-tile) {
    border-radius: 4px;
  }
}

// Tags
.tags {
  display: flex;
  align-items: center;
  font-size: 0.8rem;

  > .tag:not(:first-child) {
    margin-left: 8px;
  }
}

.tag {
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid transparentize($theme-secondary, 0.8);
  background-color: transparentize($theme-secondary, 0.95);
  user-select: none;
}
