@import "vars";

/**
 * Generate an aspect ratio class
 * @param {number} width  - Width of aspect ratio
 * @param {number} height - Height of aspect ratio
 */
@mixin generateRatioClass($width, $height) {
  .ratio-#{$width}by#{$height} {
    &:before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
      padding-top: calc(#{$height} / #{$width} * 100%);
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

/**
 * Elevate an element with a box shadow
 * @param {number} height - Height to elevate
 */
@mixin elevate($height) {
  box-shadow: nth($elevations, $height + 1);
}
