@import "mixins";

// Alignment classes
.is-aligned-left {
  text-align: left;
}
.is-aligned-center {
  text-align: center;
}
.is-aligned-right {
  text-align: right;
}

// Text classes
.can-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.is-empty {
  color: $color-grey;
  font-style: italic;
}

// Generate the elevation classes
@for $i from 0 through length($elevations) - 1 {
  $elevation: nth($elevations, $i + 1);
  
  .elevation-#{$i} {
    @include elevate($i);
  }
}
